<%= form_for([@category, @article]) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
   <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
   <p>
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </p>
   <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>
  <%= f.label :category %><br>
  <%= select_tag(:cat_id, options_for_select([['For Sale', 1], ['Housing', 2], ['Jobs', 3]])) %>
  <p>

     <%= f.submit %>
  </p>

<% end %>
